{% extends "base.html" %}
{% block title %}Список компаний{% endblock %}
{% block header %}Список компаний{% endblock %}
{% block content %}
    <div class="container">
        {% for company in companies %}
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-info btn-sm" style="width: 250px" href="{% url 'company_employees' company.id %}">{{ company.title }}</a>
                <a class= "btn btn-danger btn-sm" href="{% url 'delete_company' company.id %}" role="button"> - </a>
            </div>

          </div>
          {% endfor %}
          <div class="row">
        </div>
    </div>



{% endblock %} 