


                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group row">
                            <label for="{{ field.id_for_label }}"  style="width: 250px; margin-left: 15px" class="">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label> 
                            <br><div class="" style="width: 250px; margin-left: 15px"> {{ field }}</div>                
                    </div>
                    {% endfor %}
                    <div class="">              
                        <button type="submit" style="margin-left: 30" class="btn btn-primary">
                        Добавить способ связи
                        </button>
                    </div>
                </form> 
