


                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                            <label for="{{ field.id_for_label }}" class="col-md-2 col-form-label text-md-left">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                            <div class="col-md-6">
                                {{ field }}
        
                            </div>                
                    </div>
                    {% endfor %}
                    <div class="col-md-6 offset-md-0">              
                        <button type="submit" class="btn btn-primary">
                        Добавить способ связи
                        </button>
                    </div>
                </form> 
